In [3]:
import pandas as pd
import os

# Optional: check current working directory
print("Current Directory:", os.getcwd())

# Load dataset (make sure filename matches exactly)
df = pd.read_csv("week 1/student_performance.csv")

# Show first 10 rows
df.head(10)

Current Directory: C:\Users\PMLS\Desktop\Data Science & AI

,student_id,weekly_self_study_hours,attendance_percentage,class_participation,total_score,grade
0,1,18.5,95.6,3.8,97.9,A
1,2,14.0,80.0,2.5,83.9,B
2,3,19.5,86.3,5.3,100.0,A
3,4,25.7,70.2,7.0,100.0,A
4,5,13.4,81.9,6.9,92.0,A
5,6,13.4,65.1,5.0,97.5,A
6,7,26.1,81.8,5.9,100.0,A
7,8,20.4,100.0,4.0,96.1,A
8,9,11.7,100.0,8.2,69.8,C
9,10,18.8,67.6,6.0,80.3,B

In [ ]:
print("Jupyter is connected and working!")