# Week 2: Data Collection & Cleaning
**Assignment 2:** Apply cleaning on the Student Performance dataset and produce a "before vs after cleaning" report.

**File:** StudentsPerformance.csv  
**Output cleaned file:** cleaned_students.csv

In [1]:
# Step 0: imports & load
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 120)

# load dataset
raw_file = "Students Performance Dataset.csv"
df_raw = pd.read_csv(raw_file)

# quick peek
print("Loaded file:", raw_file)
df_raw.head(5)

Loaded file: Students Performance Dataset.csv

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,73.69,53.17,73.4,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,74.23,98.23,88.0,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,85.85,50.00,4.7,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,68.10,66.27,4.2,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,67.66,83.98,64.3,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5

In [2]:
# Function to summarize dataset state
def snapshot(df):
    return {
        "rows": df.shape[0],
        "cols": df.shape[1],
        "duplicates": df.duplicated().sum(),
        "missing_total": df.isna().sum().sum(),
        "missing_by_col": df.isna().sum().to_dict()
    }

before = snapshot(df_raw)
print("Before cleaning snapshot:")
before

Before cleaning snapshot:

{'rows': 5000,
 'cols': 23,
 'duplicates': np.int64(0),
 'missing_total': np.int64(1025),
 'missing_by_col': {'Student_ID': 0,
  'First_Name': 0,
  'Last_Name': 0,
  'Email': 0,
  'Gender': 0,
  'Age': 0,
  'Department': 0,
  'Attendance (%)': 0,
  'Midterm_Score': 0,
  'Final_Score': 0,
  'Assignments_Avg': 0,
  'Quizzes_Avg': 0,
  'Participation_Score': 0,
  'Projects_Score': 0,
  'Total_Score': 0,
  'Grade': 0,
  'Study_Hours_per_Week': 0,
  'Extracurricular_Activities': 0,
  'Internet_Access_at_Home': 0,
  'Parent_Education_Level': 1025,
  'Family_Income_Level': 0,
  'Stress_Level (1-10)': 0,
  'Sleep_Hours_per_Night': 0}}

In [3]:
# Check column types
print("Column types:")
display(df_raw.dtypes)

# Summary statistics for numeric columns
print("\nNumeric summary (describe):")
display(df_raw.describe(include=[np.number]).T)

Column types:

Student_ID                     object
First_Name                     object
Last_Name                      object
Email                          object
Gender                         object
Age                             int64
Department                     object
Attendance (%)                float64
Midterm_Score                 float64
Final_Score                   float64
Assignments_Avg               float64
Quizzes_Avg                   float64
Participation_Score           float64
Projects_Score                float64
Total_Score                   float64
Grade                          object
Study_Hours_per_Week          float64
Extracurricular_Activities     object
Internet_Access_at_Home        object
Parent_Education_Level         object
Family_Income_Level            object
Stress_Level (1-10)             int64
Sleep_Hours_per_Night         float64
dtype: object

Numeric summary (describe):

                        count       mean        std     min        25%       50%        75%       max
Age                    5000.0  21.048400   1.989786  18.000  19.000000  21.00000  23.000000   24.0000
Attendance (%)         5000.0  75.356076  14.392716  50.010  62.945000  75.67000  87.862500  100.0000
Midterm_Score          5000.0  70.701924  17.436325  40.000  55.707500  70.86000  85.760000   99.9900
Final_Score            5000.0  69.546552  17.108996  40.010  54.697500  69.48500  83.922500   99.9800
Assignments_Avg        5000.0  74.956320  14.404287  50.000  62.340000  75.09000  87.352500   99.9900
Quizzes_Avg            5000.0  74.836214  14.423848  50.000  62.357500  74.90500  87.292500   99.9900
Participation_Score    5000.0  49.963720  28.989785   0.000  25.075000  49.60000  75.500000  100.0000
Projects_Score         5000.0  74.783050  14.542430  50.000  61.970000  74.54000  87.630000  100.0000
Total_Score            5000.0  71.652097   7.230097  50.602  66.533875  71.69625  76.711625   95.0915
Study_Hours_per_Week   5000.0  17.521140   7.193035   5.000  11.500000  17.40000  23.700000   30.0000
Stress_Level (1-10)    5000.0   5.507200   2.886662   1.000   3.000000   6.00000   8.000000   10.0000
Sleep_Hours_per_Night  5000.0   6.514420   1.446155   4.000   5.300000   6.50000   7.800000    9.0000

In [4]:
# 1) Count duplicate rows
dup_count = df_raw.duplicated().sum()
print("Duplicate rows count:", dup_count)

# 2) Check missing values per column (and percent)
missing_total = df_raw.isna().sum().sum()
missing_by_col = (df_raw.isna().sum() / len(df_raw) * 100).sort_values(ascending=False)

print("\nTotal missing values in dataset:", missing_total)
print("\nMissing values (% of total rows) by column (top 10 if any):")
display(missing_by_col[missing_by_col > 0].head(10))

Duplicate rows count: 0

Total missing values in dataset: 1025

Missing values (% of total rows) by column (top 10 if any):

Parent_Education_Level    20.5
dtype: float64

In [5]:
# Dictionary to store min, max, negative counts for key numeric columns
checks = {}

# List of numeric columns to check (adjust if your column names differ)
num_cols_to_check = [
    "Attendance (%)", "Midterm_Score", "Final_Score",
    "Assignments_Avg", "Quizzes_Avg", "Participation_Score",
    "Projects_Score", "Total_Score", "Study_Hours_per_Week",
    "Stress_Level", "Sleep_Hours_per_Night"
]

for c in num_cols_to_check:
    if c in df_raw.columns:
        checks[c] = {
            "min": df_raw[c].min(),
            "max": df_raw[c].max(),
            "n_negative": (df_raw[c] < 0).sum()
        }

checks

{'Attendance (%)': {'min': np.float64(50.01),
  'max': np.float64(100.0),
  'n_negative': np.int64(0)},
 'Midterm_Score': {'min': np.float64(40.0),
  'max': np.float64(99.99),
  'n_negative': np.int64(0)},
 'Final_Score': {'min': np.float64(40.01),
  'max': np.float64(99.98),
  'n_negative': np.int64(0)},
 'Assignments_Avg': {'min': np.float64(50.0),
  'max': np.float64(99.99),
  'n_negative': np.int64(0)},
 'Quizzes_Avg': {'min': np.float64(50.0),
  'max': np.float64(99.99),
  'n_negative': np.int64(0)},
 'Participation_Score': {'min': np.float64(0.0),
  'max': np.float64(100.0),
  'n_negative': np.int64(0)},
 'Projects_Score': {'min': np.float64(50.0),
  'max': np.float64(100.0),
  'n_negative': np.int64(0)},
 'Total_Score': {'min': np.float64(50.602),
  'max': np.float64(95.0915),
  'n_negative': np.int64(0)},
 'Study_Hours_per_Week': {'min': np.float64(5.0),
  'max': np.float64(30.0),
  'n_negative': np.int64(0)},
 'Sleep_Hours_per_Night': {'min': np.float64(4.0),
  'max': np.float64(9.0),
  'n_negative': np.int64(0)}}

In [6]:
# Create a copy for cleaning
df = df_raw.copy()

# Drop exact duplicate rows
initial_rows = df.shape[0]
df = df.drop_duplicates()
dropped_dups = initial_rows - df.shape[0]
print(f"Dropped {dropped_dups} duplicate rows.")

Dropped 0 duplicate rows.

In [7]:
# Normalize column names (optional, remove spaces)
df.columns = [c.strip() for c in df.columns]

# Fix Attendance
if "Attendance (%)" in df.columns:
    df["Attendance (%)"] = df["Attendance (%)"].apply(
        lambda x: np.nan if pd.isna(x) else (100 if x > 100 else (0 if x < 0 else x))
    )

# Negative Study Hours â†’ NaN
if "Study_Hours_per_Week" in df.columns:
    df["Study_Hours_per_Week"] = df["Study_Hours_per_Week"].apply(
        lambda x: np.nan if (pd.notna(x) and x < 0) else x
    )

# Participation Score 0-10
if "Participation_Score" in df.columns:
    df["Participation_Score"] = df["Participation_Score"].apply(
        lambda x: np.nan if (pd.notna(x) and (x < 0 or x > 10)) else x
    )

print("Invalid ranges fixed where applicable.")

Invalid ranges fixed where applicable.

In [8]:
# Function to cap outliers using IQR
def cap_outliers_iqr(series):
    if series.dtype.kind not in 'biufc':  # skip non-numeric
        return series
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    return series.clip(lower=lower, upper=upper)

# Apply to numeric columns (excluding Student_ID)
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
numeric_cols = [c for c in numeric_cols if c.lower() != "student_id"]

for c in numeric_cols:
    df[c] = cap_outliers_iqr(df[c])

print("Outliers capped in numeric columns:", numeric_cols)

Outliers capped in numeric columns: ['Age', 'Attendance (%)', 'Midterm_Score', 'Final_Score', 'Assignments_Avg', 'Quizzes_Avg', 'Participation_Score', 'Projects_Score', 'Total_Score', 'Study_Hours_per_Week', 'Stress_Level (1-10)', 'Sleep_Hours_per_Night']

In [10]:
# Check missing values per column (and percent) in the working dataset
missing_total = df.isna().sum().sum()
missing_by_col = (df.isna().sum() / len(df) * 100).sort_values(ascending=False)

print("\nTotal missing values in dataset:", missing_total)
print("\nMissing values (% of total rows) by column (top 10 if any):")
display(missing_by_col[missing_by_col > 0].head(10))

print("Missing values imputed for all columns.")

Total missing values in dataset: 0

Missing values (% of total rows) by column (top 10 if any):

Series([], dtype: float64)

Missing values imputed for all columns.

In [11]:
# After cleaning snapshot
def snapshot(df):
    return {
        "rows": df.shape[0],
        "cols": df.shape[1],
        "duplicates": df.duplicated().sum(),
        "missing_total": df.isna().sum().sum(),
    }

after = snapshot(df)
print("After cleaning snapshot:")
after

After cleaning snapshot:

{'rows': 5000,
 'cols': 23,
 'duplicates': np.int64(0),
 'missing_total': np.int64(0)}

In [12]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,73.69,53.17,5.2,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,74.23,98.23,5.2,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,85.85,50.00,4.7,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,68.10,66.27,4.2,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,67.66,83.98,5.2,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
5,S1005,Liam,Brown,student5@university.com,Male,21,Mathematics,60.60,70.21,64.48,87.85,52.26,5.2,67.65,68.0900,D,25.3,Yes,No,Bachelor's,Medium,6,5.6
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,89.00,54.17,5.2,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
7,S1007,Ahmed,Smith,student7@university.com,Male,19,Engineering,65.91,91.72,59.47,50.72,53.83,5.2,90.04,71.3685,C,16.7,Yes,Yes,Bachelor's,Low,5,7.8
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,57.19,79.08,5.2,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
9,S1009,Sara,Smith,student9@university.com,Female,22,Business,89.45,95.69,86.97,60.65,94.80,5.2,83.09,82.7555,B,9.4,Yes,No,Bachelor's,High,8,7.1

In [13]:
clean_file = "cleaned_students.csv"
df.to_csv(clean_file, index=False)
print("Saved cleaned dataset as:", clean_file)

Saved cleaned dataset as: cleaned_students.csv

In [14]:
# Create a comparison table
report = pd.DataFrame({
    "Metric": ["Rows", "Columns", "Duplicate Rows", "Missing Values"],
    "Before Cleaning": [
        before["rows"],
        before["cols"],
        before["duplicates"],
        before["missing_total"]
    ],
    "After Cleaning": [
        after["rows"],
        after["cols"],
        after["duplicates"],
        after["missing_total"]
    ]
})

report

           Metric  Before Cleaning  After Cleaning
0            Rows             5000            5000
1         Columns               23              23
2  Duplicate Rows                0               0
3  Missing Values             1025               0

## Week 2: Data Cleaning Report

- **Dataset:** StudentsPerformance.csv  
- **Cleaning Steps Applied:**
  1. Removed duplicate rows
  2. Fixed invalid/out-of-range numeric values
  3. Capped outliers using IQR
  4. Imputed missing values (median for numeric, mode for categorical)

- **Result:** Dataset is now clean and ready for analysis.  
- **Cleaned dataset saved as:** `cleaned_students.csv`