# Week 1: Orientation & Setup  
**Course:** Data Science & AI  
**Assignment 1:** Load and Display Dataset  
**Student:** Mehreen Muhammad Majid  
**Project:** Student Performance Prediction  

---

### Objective  
The goal of this assignment is to load a dataset from Kaggle and display the first 10 rows using Python (Pandas).  
This demonstrates basic setup, data loading, and environment readiness for upcoming weeks.

---

In [13]:
# Assignment 1 - Week 1
# Student Performance Dataset Exploration

# Step 1: Import libraries
import pandas as pd

# Step 2: Load the dataset
df = pd.read_csv("Students Performance Dataset.csv")  

# Step 3: Display first 10 rows
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
5,S1005,Liam,Brown,student5@university.com,Male,21,Mathematics,60.60,70.21,64.48,...,67.65,68.0900,D,25.3,Yes,No,NaN,Medium,6,5.6
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
7,S1007,Ahmed,Smith,student7@university.com,Male,19,Engineering,65.91,91.72,59.47,...,90.04,71.3685,C,16.7,Yes,Yes,NaN,Low,5,7.8
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
9,S1009,Sara,Smith,student9@university.com,Female,22,Business,89.45,95.69,86.97,...,83.09,82.7555,B,9.4,Yes,No,NaN,High,8,7.1

In [14]:
df.head(10).style.set_table_styles([
    {'selector': 'thead th', 'props': [('background-color', '#2E86C1'), ('color', 'white'), ('font-size', '14px')]},
    {'selector': 'tbody td', 'props': [('font-size', '13px')]}
])

---

### Summary  
In this assignment, the dataset was successfully loaded and the first 10 rows were displayed using Pandas.  
This confirms that the Python environment is working correctly and ready for further data analysis tasks.  

---